.patients {
    display: flex;

    .datatableContainer {
        flex: 6;

        .newPatientBtn {
            width: 150px;
            margin: 20px;
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgb(176, 176, 233);
            cursor: pointer;
            text-align: center;
        }

        .listContainer {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .listTitle {
                font-weight: 500;
                color: gray;
                margin-bottom: 15px;
            }
        }
    }
}